ul {
  list-style: none;
}
button[class$='left'] {
  position: absolute!important;
  left: 0;
  bottom: 0;
}
button[class$='right'] {
  position: absolute!important;
  right: 0;
  bottom: 0;

}
div[class$='container']{
  min-height: 540px;
}
