<div class="container">
  <!--style="pointer-events: none"-->
  <button class="btn btn-info" *ngIf="ofset== 10" (click)="record()">Nộp bài</button>
  <div class="card" *ngFor="let question of questionIndex | paginate: { itemsPerPage: limit, currentPage: ofset}">
    <div class="card-header">
      <div class="ml-0"><strong>{{question.Text}}</strong></div>
    </div>
    <div class="card-body">
      <ul>
        <li *ngFor="let answer of question.Answers">
          <label> <input type="radio" name="radio_{{question.Id}}" [checked]="selectedAsw() === answer.Id" [value]="answer.Id"
                         (click)="getAnswerred(answer.Id)">
            {{answer.Text}}
          </label>
        </li>
      </ul>
      <br>
    </div>
    <div class="card-footer">
      {{ofset}}/{{getMax()}}
    </div>
  </div>
  <!--<ul>-->
    <!--<li *ngFor="let asw of answerredId">{{asw.subject}}: {{asw.index}} : {{asw.id}} : {{asw.value}}</li>-->
  <!--</ul>-->
  <!--<input [(ngModel)]="test" name="test" (ngModelChange)="setTest()">{{model.student}}-->
  <button class="btn btn-primary left" (click)="preview()" [disabled]="ofset === 1">preview</button>
  <button class="btn btn-success right" (click)="next()" [disabled]="ofset === 10">next</button>
</div>
