<aside class="accordion" id="accordion">
  <div class="card" style="padding: 0 0 0 0;">
    <div class="card-header font-weight-bolder">
      <h5>
        <i class="fas fa-align-justify"></i> Danh Mục
      </h5>
    </div>
    <div class="card">
      <div class="card-header" id="Android">
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseAndroid"
                aria-expanded="true" aria-controls="collapseAndroid" [disabled]="!model.isLogin">
          {{Android.title}}
        </button>
      </div>
      <div id="collapseAndroid" class="collapse show" aria-labelledby="Android" data-parent="#accordion">
        <button [disabled]="!model.isLogin" class="list-group-item btn btn-info" *ngFor="let subjects of Android.contents" [routerLink]="['Quiz/',subjects.id]">{{subjects.name}}</button>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="Java">
        <h2 class="mb-0">
          <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseJava"
                  aria-expanded="true" aria-controls="collapseJava" [disabled]="!model.isLogin">
            {{Java.title}}
          </button>
        </h2>
      </div>
      <div id="collapseJava" class="collapse" aria-labelledby="Java" data-parent="#accordion">
        <button [disabled]="!model.isLogin" class="list-group-item btn  btn-info "
           *ngFor="let subjects of Java.contents" [routerLink]="['Quiz/',subjects.id]">{{subjects.name}}</button>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="Web">
        <h2 class="mb-0">
          <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseWeb"
                  aria-expanded="true" aria-controls="collapseWeb" [disabled]="!model.isLogin">
            {{Web.title}}
          </button>
        </h2>
      </div>
      <div id="collapseWeb" class="collapse" aria-labelledby="Java" data-parent="#accordion">
        <button [disabled]="!model.isLogin" class="list-group-item btn btn-info"
           *ngFor="let subjects of Web.contents" [routerLink]="['Quiz/',subjects.id]">{{subjects.name}}</button>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="Other">
        <h2 class="mb-0">
          <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseOther"
                  aria-expanded="true" aria-controls="collapseOther" [disabled]="!model.isLogin">
            {{Other.title}}
          </button>
        </h2>
      </div>
      <div id="collapseOther" class="collapse" aria-labelledby="Java" data-parent="#accordion">
        <button [disabled]="!model.isLogin" class="list-group-item btn  btn-info " *ngFor="let subjects of Other.contents" [routerLink]="['Quiz/',subjects.id]">{{subjects.name}}</button>
      </div>
    </div>
    <!--<div class="card-header" id="Web">-->
    <!--<a class="font-weight-bolder" data-toggle="collapse" data-target="#groupWeb" aria-expanded="false"-->
    <!--aria-controls="groupWeb" onchange="fixCollapse('Web');">-->
    <!--Thiết Kế Web-->
    <!--</a>-->
    <!--</div>-->
    <!--<div id="groupWeb" class="collapse" aria-labelledby="Web" data-parent="#accordion">-->
    <!--&lt;!&ndash;<div class="card-body">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="list-group">&ndash;&gt;-->
    <!--<a class="list-group-item   btn-info "> Lập trình PHP</a>-->
    <!--<a class="list-group-item   btn-info "> Thiết kế Layout</a>-->
    <!--<a class="list-group-item   btn-info "> Lập trình ASP.NET</a>-->
    <!--<a class="list-group-item   btn-info "> Internet marketing</a>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="card-header" id="App">-->
    <!--<a class="font-weight-bolder" data-toggle="collapse" data-target="#groupApp" aria-expanded="true"-->
    <!--aria-controls="groupApp" onchange="fixCollapse('App');">-->
    <!--Ứng Dụng Phần Mềm-->
    <!--</a>-->
    <!--</div>-->
    <!--<div id="groupApp" class=" collapse show" aria-labelledby="App" data-parent="#accordion">-->
    <!--&lt;!&ndash;<div class="card-body">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="list-group">&ndash;&gt;-->
    <!--<a class="list-group-item  btn-primary "> Lập trình Android cơ bản</a>-->
    <!--<a class="list-group-item  btn-primary "> SQL Server</a>-->
    <!--<a class="list-group-item  btn-primary "> Lập trình Android nâng cao</a>-->
    <!--<a class="list-group-item  btn-primary "> Lập trình hướng đối tượng với Java</a>-->
    <!--<a class="list-group-item  btn-primary "> Thiết kế giao diện trên Android</a>-->
    <!--<a class="list-group-item  btn-primary "> SQL Server</a>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="card-header" id="Other">-->
    <!--<a class="font-weight-bolder" data-toggle="collapse" data-target="#groupOther" aria-expanded="false"-->
    <!--aria-controls="groupOther" onchange="fixCollapse('Other');">-->
    <!--Các Môn Khác-->
    <!--</a>-->
    <!--</div>-->
    <!--<div id="groupOther" class=" collapse" aria-labelledby="Other" data-parent="#accordion">-->
    <!--<div class="list-group">-->
    <!--<a class="list-group-item btn-warning "> Kiểm thử và triển khai</a>-->
    <!--<a class="list-group-item  btn-warning "> SQL Server</a>-->
    <!--<a class="list-group-item  btn-warning "> Điện toán đám mây</a>-->
    <!--&lt;!&ndash;<a  class="list-group-item btn btn-info">Lập trình PHP</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a  class="list-group-item btn btn-info">Lập trình Android nâng cao</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a  class="list-group-item btn btn-info">Lập trình Android cơ bản</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a  class="list-group-item btn btn-info">Thiết kế Layout</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a  class="list-group-item btn btn-info">Thiết kế giao diện trên Android</a>&ndash;&gt;-->
    <!--<a class="list-group-item  btn-warning "> Quản lí dự án trên Agile</a>-->
    <!--&lt;!&ndash;<a  class="list-group-item btn btn-info">Internet marketing</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a  class="list-group-item btn btn-info">Lập trình hướng đối tượng với Java</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a  class="list-group-item btn btn-info">Lập trình ASP.NET</a>&ndash;&gt;-->
    <!--</div>-->
  </div>
</aside>
