<div class="modal fade" id="registerModal" #registerModal tabindex="-1" role="dialog"
     aria-labelledby="registerModalLabel" [ngStyle]="{'display':model.isShowModalRegis}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card">
          <div class="card-header text-center">
            <h1>REGISTER</h1>
          </div>
          <div class="card-body">
            <div class="col-md-12" style="margin: 10px 10px 10px 10px; ">
              <form class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="rg_name">Username</label>
                    <input type="text" class="form-control" maxlength="50" minlength="8" id="rg_name"
                           [(ngModel)]="fullname"
                           name="rg_name"
                           placeholder="Enter fullname">
                  </div>
                  <div class="form-group">
                    <label for="rg_username">Username</label>
                    <input type="text" class="form-control" maxlength="50" minlength="8" id="rg_username"
                           [(ngModel)]="username"
                           name="rg_username"
                           placeholder="Enter username">
                  </div>
                  <div class="form-group">
                    <label for="rg_emai1">Email address</label>
                    <input type="email" class="form-control" [(ngModel)]="email" id="rg_emai1" name="rg_emai1"
                           placeholder="Enter email">
                  </div>

                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="rg_password">Password</label>
                    <input type="password" maxlength="16" minlength="8" class="form-control" pattern="[0][1-9]{10}"
                           id="rg_password" [(ngModel)]="password" name="rg_password"
                           placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="rg_confirmPassword">Confirm Password</label>
                    <input type="password" maxlength="16" [(ngModel)]="confirmPass" minlength="8" class="form-control"
                           pattern="[0][1-9]{10}"
                           id="rg_confirmPassword" name="rg_confirmPassword"
                           placeholder="Confirm Password">
                  </div>
                  <div class="form-group">
                    <label for="rg_birthday">Birthday</label>
                    <input type="date" class="form-control" [(ngModel)]="birthday" id="rg_birthday"
                           name="rg_birthday" placeholder="Birthday">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-checkbox">
                    <label for="rg_emai1">Gender</label>
                    <br>
                    <label><input type="radio" class="form-checkbox-item"  checked="true" [(ngModel)]="gender"
                                  name="rg_gender" [value]="true">
                      Nam</label>
                    <label style="margin-left: 50px">
                      <input type="radio" class="form-checkbox-item" [(ngModel)]="gender"
                             name="rg_gender" [value]="false">
                      Nữ</label>
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <button class="btn btn-primary" (click)="submit()">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
