<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="pull-left">
      <a class="navbar-brand" [routerLink]="['']"><i class="fa fa-home"></i>&nbsp;&nbsp; FPT Polytechnic</a>
      <a class="navbar-brand" [routerLink]="['/introduce']"><i class="fa fa-info-circle"></i>&nbsp;&nbsp; Giới Thiệu</a>
      <a class="navbar-brand" [routerLink]="['/contact']"><i class="fa fa-phone-volume"></i>&nbsp;&nbsp; Liên Hệ</a>
      <a class="navbar-brand" [routerLink]="['/feedback']"><i class="fa fa-comment-dots"></i>&nbsp;&nbsp; Góp Ý</a>
      <a class="navbar-brand" [routerLink]="['/questionAnswer']"> <i class="fa fa-question-circle"></i>&nbsp;&nbsp;Hỏi
        Đáp</a>
    </div>
    <div class="pull-right dropdown">
      <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        Tài Khoản</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown"
           style="width: 150px; position: absolute; right: 100px;">
        <div *ngIf="!model.isLogin">
          <a class="dropdown-item " data-toggle="modal" id="register" data-target="#registerModal" href="#registerModal"
          >
            <i class="fa fa-user-plus"> </i>&nbsp;&nbsp; Đăng Ký</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#loginModal" href="#">
            <i class="fa fa-sign-in-alt"></i>&nbsp;&nbsp; Đăng Nhập</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#forgotPassModal" href="# "
          >
            <i class="fa fa-flushed"></i>&nbsp;&nbsp; Quên Mật Khẩu</a>
        </div>
        <div *ngIf="model.isLogin">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="action()"> <i class="fa fa-door-open" ></i>&nbsp;&nbsp;
            Đăng Xuất</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#changePassModal" href="# "
          >
            <i class="fa fa-exchange-alt"></i>&nbsp;&nbsp; Đổi Mật Khẩu</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#forgotPassModal" href="# "
          >
            <i class="fa fa-flushed"></i>&nbsp;&nbsp; Quên tài Khoản</a>
        </div>
      </div>
    </div>
  </div>

</nav>


