<table class="table tblRslt" *ngIf="!show">
  <thead class="thead-inverse">
  <tr>
    <th>Pass</th>
    <th>Ngày</th>
    <th>Câu hỏi đã trả lời</th>
    <th>Điểm</th>
    <th>Phần trăm làm được</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><i class="fas fa-skull-crossbones" *ngIf="!pass"></i> <i class="fas fa-check-circle" *ngIf="pass"></i></td>
    <td>{{date}}</td>
    <td>{{questionTotal}} trên {{containQuestion.length}}</td>
    <td>{{scored}}</td>
    <td>{{percent | percent}}</td>
    <td>
      <button class="btn btn-info" (click)="show =true">Hiện chi tiết</button>
    </td>
  </tr>
  </tbody>
</table>
<button class="btn btn-outline-dark" (click)="showDetails = false" *ngIf="showDetails"><< Back To Details</button>

<div *ngIf="show&&!showDetails">
  <button class="btn btn-outline-dark" (click)="show = false"><< Back</button>
  <table class="table table-striped">
    <thead class="thead-inverse">
    <tr>
      <th width="80">Thứ Tự</th>
      <th width="80">ID</th>
      <th>Tiêu Đề</th>
      <th width="120">Điểm tối đa</th>
      <th width="120">Đạt điểm</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let details of listDetails ">
      <td>{{index}}</td>
      <td> {{details.id}}</td>
      <!--showDetails = true;-->
      <td><a style="cursor: pointer; color: #0C0A5E;" (click)="showDetails = true; getDetails(details.id)">{{details.title}}</a>
      </td>
      <td>{{details.highest}}</td>
      <td>{{details.got}}</td>
    </tr>
    </tbody>
  </table>
</div>
<!--*ngIf="showDetails"-->
<div *ngIf="showDetails">
  <br>
  <strong> Câu trả lời của bạn là</strong>
  <hr>
  <div style="width: 100%; height: 150px; pointer-events: none;" class="answerDetail">

    &nbsp; &nbsp; {{detailsInfo.isAnswer.Text}}
    <table>
      <tr *ngFor="let answer of detailsInfo.isAnswer.Answers">
        <td width="50"></td>
        <td><input type="radio" [checked]="detailsInfo.answerd === answer.Id"> {{answer.Text}}</td>
        <td width="150"></td>
        <td><i class="fas fa-thumbs-up"
               *ngIf="detailsInfo.answerd ===detailsInfo.isAnswer.AnswerId && detailsInfo.answerd === answer.Id"></i>
          <i class="fas fa-times-circle" *ngIf="detailsInfo.answerd ===0"></i>
          <i class="fas fa-times-circle"
             *ngIf="detailsInfo.answerd === answer.Id && detailsInfo.answerd !=detailsInfo.isAnswer.AnswerId"></i>
        </td>
      </tr>
    </table>
  </div>
  <br>
  <strong> Câu trả lời đúng là</strong>
  <hr>
  <div style="width: 100%; height: 150px; pointer-events: none;" class="answerDetail">
    <ul style="list-style: none">
      <li *ngFor="let answer of detailsInfo.isAnswer.Answers">
        <input type="radio" name="answer" [checked]="detailsInfo.isAnswer.AnswerId === answer.Id">
        {{answer.Text}}
      </li>
    </ul>
  </div>
</div>
<!--<input [(ngModel)]="model.student" name="test">{{model.student}}-->
<!--<table>-->
<!--<tr>-->
<!--<td>-->
<!--<ul>-->
<!--<li *ngFor="let asw of answerred">{{asw.subject}} : {{asw.index}} : {{asw.id}} : {{asw.value}}</li>-->
<!--</ul>-->
<!--</td>-->
<!--<td>-->
<!--<ul>-->
<!--<li *ngFor="let asw of containQuestion">{{asw.Id}} : {{asw.AnswerId}} : {{asw.Id}}</li>-->
<!--</ul>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->

