<div class="modal fade" id="changePassModal" #changePassModal tabindex="-1" role="dialog" aria-labelledby="changePassModalLabel"
     aria-hidden="true"  >
  <div class="modal-dialog" role="document">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-content">
      <div class="card">
        <div class="card-header text-center">
          <h1>Change Password</h1>
        </div>
        <div class="card-body">
          <div class="col-md-12" style="margin: 10px 10px 10px 10px; ">
            <form>

              <br>
              <div class="form-group">
                <label for="ch_email">Email address</label>
                <input type="email" class="form-control" id="ch_email" name="ch_email" placeholder="Current Email">
              </div>
              <br>
              <div class="form-group">
                <label for="ch_oldPassword">Old Password</label>
                <input type="password" maxlength="16" minlength="8" class="form-control" pattern="[0][1-9]{10}"
                       id="ch_oldPassword" name="ch_oldPassword"
                       placeholder="Old Password"/>
                <br>
                <div class="form-group">
                  <label for="ch_newPassword">New Password</label>
                  <input type="password" maxlength="16" minlength="8" class="form-control" pattern="[0][1-9]{10}"
                         id="ch_newPassword" name="ch_newPassword"
                         placeholder="New Password">
                </div>
                <div class="form-group">
                  <label for="ch_confirmPassword">Confirm Password</label>
                  <input type="password" maxlength="16" minlength="8" class="form-control" pattern="[0][1-9]{10}"
                         id="ch_confirmPassword" name="ch_confirmPassword"
                         placeholder="Confirm Password">
                </div>
                <br>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Request</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
