<div class="modal fade" id="loginModal" #loginModal tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
     aria-modal="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <h3>Login</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"
                       id="username" placeholder="username">
              </div>
              <br>
              <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" maxlength="16" minlength="8" [(ngModel)]="password"
                       [ngModelOptions]="{standalone: true}"
                       class="form-control"
                       id="password"
                       placeholder="password">
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary" (click)="login($event)">Login</button>
              </div>
            </form>
          </div>
          <div class="card-footer" *ngIf="isWrong">
            <strong>
              <small style="color: red">
                *{{message}}
              </small>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
