
header{
  height: 150px !important;

  background: url("../images/banner.png") no-repeat !important;
  background-size: 100% 100% !important;
}
aside div[class$='card-header']:hover {
  cursor: pointer;
}

aside  a[class$='fa-caret-right'] {
  text-align: left;
}

aside a[class$='fa-caret-right']:hover {
  color: whitesmoke;
  cursor: pointer;
}
