<div class="modal fade" id="forgotPassModal" #forgotPassModal tabindex="-1" role="dialog" aria-labelledby="forgotPassModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <div class="card">
          <div class="card-header text-center">
            <h1>Forgot Password</h1>
          </div>
          <div class="card-body">
            <div class="col-md-12" style="margin: 10px 10px 10px 10px; ">
              <form>
                <div class="form-group">
                  <label for="fg_username">Username</label>
                  <input type="text" class="form-control" maxlength="50" minlength="8" name="fg_username"
                         id="fg_username"
                         placeholder="Enter username">
                </div>
                <br>
                <div class="form-group">
                  <label for="fg_email1">Email address</label>
                  <input type="email" class="form-control" id="fg_email1" name="fg_email1" placeholder="Enter email">
                </div>
                <br>
                <div class="form-group">
                  <label for="fg_phone">Phone Number</label>
                  <input type="text" maxlength="10" minlength="10" class="form-control" id="fg_phone" name="fg_phone"
                         placeholder="Enter phone"
                         required onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </div>
                <br>
                <div class="form-group">
                  <label for="fg_password">Old Password</label>
                  <input type="password" maxlength="16" minlength="8" class="form-control" pattern="[0][1-9]{10}"
                         id="fg_password" name="fg_password"
                         placeholder="Password">
                </div>
                <br>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Request</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
