<!--<div *ngFor="let student of Students">-->
  <!--{{student.Name}}-->
<!--</div>-->
<form>
  <label>name</label>
  <input [(ngModel)]="person.name" [ngModelOptions]="{standalone: true}">
  <input [(ngModel)]="person.age" [ngModelOptions]="{standalone: true}">
  <button (click)="save()">save</button>
  {{person.name}}
</form>
