<!--Article contents-->
<div class="tab-content">
  <div class="row" *ngIf="model.isLogin">
    <div class="col-md-6" *ngFor="let s of Subjects | paginate : {itemsPerPage: limit, currentPage: ofset}">
      <!--{{model.isLogin?'':'<a class=\"dropdown-item\" data-toggle=\"modal\" data-target=\"#loginModal\" href=\"#\">'}}-->
      <div class="card" [routerLink]="[model.isLogin? 'Quiz/':'',model.isLogin? s.subjectId :'']"
           style="cursor: pointer;">
        <div class="card-img text-center">
          <img src="assets/images/logos/{{s.logo}}">
        </div>
        <div class="card-footer text-center">
          {{s.name}}
        </div>
      </div>
    </div>
    <div class="paginate col-md-12" style="text-align: center">
      <a (click)="ofset=1">|<</a>
      <a (click)="pre()"><<</a>
      <input type="number" [(ngModel)]="ofset" [ngModelOptions]="{standalone: true}" size="1" min="1"
             max="{{getMax()}}">
      <a (click)="next()">>></a>
      <a (click)="ofset=getMax()">>|</a>
    </div>
  </div>


  <div class="row" *ngIf="!model.isLogin">
      <div class="col-md-6" *ngFor="let s of Subjects | paginate : {itemsPerPage: limit, currentPage: ofset}">
        <a class="dropdown-item" data-toggle="modal" data-target="#loginModal" href="#">

        <div class="card" style="cursor: pointer;">
          <div class="card-img text-center">
            <img src="assets/images/logos/{{s.logo}}">
          </div>
          <div class="card-footer text-center">
            {{s.name}}
          </div>

        </div>
        </a>

      </div>
      <div class="paginate col-md-12" style="text-align: center">
        <a (click)="ofset=1">|<</a>
        <a (click)="pre()"><<</a>
        <input type="number" [(ngModel)]="ofset" [ngModelOptions]="{standalone: true}" size="1" min="1"
               max="{{getMax()}}">
        <a (click)="next()">>></a>
        <a (click)="ofset=getMax()">>|</a>
      </div>
  </div>
</div>
<!--<div class="tab-content">-->
<!--&lt;!&ndash;PAGE 1&ndash;&gt;-->
<!--<div class="tab-pane fade show active in" id="page-content-1" role="tabpanel" aria-labelledby="page-1">-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="card ">-->
<!--<div class="card-img text-center">-->
<!--<img src="assets/images/logos/ADTE.jpg">-->
<!--</div>-->
<!--<div class="card-footer text-center">-->
<!--Kiểm Thử và Triển Khai-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-6">-->
<!--<div class="card">-->
<!--<div class="card-img text-center">-->
<!--<img src="assets/images/logos/DBAV.png">-->
<!--</div>-->
<!--<div class="card-footer text-center">-->
<!--SQL Server-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-12" style="margin: 20px 0 0 20px;">-->

<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="card">-->
<!--<div class="card-img text-center">-->
<!--<img src="assets/images/logos/DBBS.png">-->
<!--</div>-->
<!--<div class="card-footer text-center">-->
<!--Cơ Sở Dữ Liệu-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-6">-->
<!--<div class="card">-->
<!--<div class="card-img text-center">-->
<!--<img src="assets/images/logos/WEBU.jpg">-->
<!--</div>-->
<!--<div class="card-footer text-center">-->
<!--Xây Dựng Trang Web-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;PAGE 2&ndash;&gt;-->
<!--<div class="tab-pane fade" id="page-content-2" role="tabpanel" aria-labelledby="page-2">-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="card ">-->
<!--<div class="card-img text-center">-->
<!--<img src="assets/images/logos/ADBS.jpg">-->
<!--</div>-->
<!--<div class="card-footer text-center">-->
<!--Lập Trình Android Cơ Bản-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="card">-->
<!--<div class="card-img text-center">-->
<!--<img src="assets/images/logos/ADAV.jpg">-->
<!--</div>-->
<!--<div class="card-footer text-center">-->
<!--Lập Trình Android Nâng Cao-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-12" style="margin: 20px 0 0 20px;">-->

<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="card">-->
<!--<div class="card-img text-center">-->
<!--<img src="assets/images/logos/PHPP.png">-->
<!--</div>-->
<!--<div class="card-footer text-center">-->
<!--Lập Trình PHP-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="card">-->
<!--<div class="card-img text-center">-->
<!--<img src="assets/images/logos/ADUI.jpg">-->
<!--</div>-->
<!--<div class="card-footer text-center">-->
<!--Thiết Kế Giao Diện Trên Android-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;PAGE 3&ndash;&gt;-->
<!--<div class="tab-pane fade" id="page-content-3" role="tabpanel" aria-labelledby="page-3">-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="card ">-->
<!--<div class="card-img text-center">-->
<!--<img src="assets/images/logos/JABS.png">-->
<!--</div>-->
<!--<div class="card-footer text-center">-->
<!--Lập Trình Hướng Đối Tượng Với Java-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="card">-->
<!--<div class="card-img text-center">-->
<!--<img src="assets/images/logos/LAYO.jpg">-->
<!--</div>-->
<!--<div class="card-footer text-center">-->
<!--Thiết Kế Layout-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-12" style="margin: 20px 0 0 20px;">-->

<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="card">-->
<!--<div class="card-img text-center">-->
<!--<img src="assets/images/logos/INMA.jpg">-->
<!--</div>-->
<!--<div class="card-footer text-center">-->
<!--Internet Marketing-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="card">-->
<!--<div class="card-img text-center">-->
<!--<img src="assets/images/logos/ASNE.png">-->
<!--</div>-->
<!--<div class="card-footer text-center">-->
<!--Lập Trình ASP.NET-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;PAGINATION&ndash;&gt;-->
<!--<div class="row paginate" style="bottom: 50px; left: 320px;">-->
<!--<div class="col-md-12">-->
<!--<nav aria-label="tab navigation example" class="text-center" style="padding-top: 20px;">-->
<!--<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin: 0 auto; width: 250px;">-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="#" aria-label="Previous" onclick="review()">-->
<!--<span aria-hidden="true">&laquo;</span>-->
<!--</a>-->
<!--</li>-->
<!--<li class="nav-item active">-->
<!--<a class="nav-link active" id="page-1" data-toggle="tab" href="#page-content-1" role="tab"-->
<!--aria-controls="page-content-1"-->
<!--aria-selected="true" aria-expanded="true" onclick="selected(1); index=1">1</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" id="page-2" data-toggle="tab" href="#page-content-2" role="tab"-->
<!--aria-controls="page-content-2"-->
<!--aria-selected="false" onclick="selected(2); index=2">2</a></li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" id="page-3" data-toggle="tab" href="#page-content-3" role="tab"-->
<!--aria-controls="page-content-3"-->
<!--aria-selected="false" onclick="selected(3); index=3">3</a></li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="#" aria-label="Next" onclick="next()">-->
<!--<span aria-hidden="true">&raquo;</span>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</nav>-->
<!--</div>-->
<!--</div>-->
