.paginate a {
  margin: 50px 20px 50px 20px;
  color: #0062cc;
  cursor: pointer;
}

.paginate input {
  text-align: center;
  border-radius: 20px;
}

.paginate {
  margin-top: 20px;
  margin-bottom: 20px;
}
