

<div class="container" style="min-height: 700px;">
  <div class="page-body row" style="padding-top: 20px;">
    <div class="col-md-1">
      <strong>Admin  </strong>
    </div>
    <div class="card col-md-5">
        Hello :D !!
    </div>
  </div>

  <!-- Comment Box - START -->
  <div class="container pb-cmnt-container" style="position: absolute; bottom: 0;">
    <div class="row">
      <div class="col-md-12 col-md-offset-3">
        <div class="panel panel-info">
          <form class="form-inline">
          <div class="panel-body container-fluid">
            <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea"></textarea>
              <div class="btn-group pull-left">
                <button class="btn" type="button"><span class="fa fa-picture-o fa-lg"></span></button>
                <button class="btn" type="button"><span class="fa fa-video-camera fa-lg"></span></button>
                <button class="btn" type="button"><span class="fa fa-microphone fa-lg"></span></button>
                <button class="btn" type="button"><span class="fa fa-music fa-lg"></span></button>
              </div>
              <button class="btn btn-primary pull-right" type="button">Share</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <style>
    .pb-cmnt-container {
      font-family: Lato;
      margin-top: 100px;
    }

    .pb-cmnt-textarea {
      resize: none;
      padding: 20px;
      height: 130px;
      width: 100%;
      border: 1px solid #F2F2F2;
    }
  </style>
</div>
