.contents {
  text-align: justify-all;
}

.show {
  color: blue !important;

}

.show:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.jumbotron {
  height: 550px;
  color: whitesmoke;
}

