<div class="container">
  <div class="row">
    <!--<div class="col-md-12" style="margin: 0 auto; max-width: 100%;">-->
    <!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">-->


    <!--<img class="d-block w-100" height="250"-->
    <!--src="https://caodang.fpt.edu.vn/wp-content/uploads/BannerWeb1900x900.jpg" alt="First slide">-->

    <!--</div>-->
    <!--</div>-->
    <div class="col-md-12">
      <div class="row">

        <!-- Post Content Column -->
        <div class="col-md-12">
          <hr class="my-4">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="jumbotron carousel-item active"
                   style="background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
                     url('https://caodang.fpt.edu.vn/wp-content/uploads/65254_615242345175636_667103327_n-2.jpg');
                      background-size: 100% 100%; background-repeat: no-repeat;">
                <h1 class="display-4">Thiết kế - Lập trình website</h1>
                <hr class="my-4">
                <p> &nbsp;&nbsp; Thiết kế giao diện website với Photoshop, Illustrator Thiết kế đa truyền thông với
                  Flash Cắt giao
                  diện,
                  Thiết kế Web tĩnh trên nền tảng HTML5, CSS/ Js Thiết kế cơ sở dữ liệu MySQL Lập trình,
                  xây dựng Website động bằng ngôn ngữ PHP Tối ưu hóa mã nguồn PHP Tối ưu hóa giao diện trên PC,
                  điện thoại và máy tính bảng SEO website, quảng bá và marketting online Bảo trì hệ thống website Kỹ
                  năng
                  mềm
                  và ngoại ngữ: Kỹ năng giao tiếp, thuyết trình, kỹ năng làm việc nhóm, kỹ năng xử lý tình huống phát
                  sinh
                  trong quá trình thực hiện công việc, tiếng Anh giao tiếp.</p>
              </div>

              <div class="jumbotron carousel-item"
                   style="background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
                     url('https://caodang.fpt.edu.vn/wp-content/uploads/71865-khoa-hoc-adobe-illustrator-cs6-tai-fpt-polytechnic-15-buoi-13.jpg');
                      background-size: 100% 100%; background-repeat: no-repeat;">
                <h1 class="display-4">CNTT- Ứng dụng phần mềm</h1>
                <hr class="my-4">
                <p> &nbsp;&nbsp; Lập trình Java từ cơ bản đến nâng cao, từ window form đến web form Kiểm thử phần mềm từ
                  cơ bản đến
                  nâng cao
                  Mạng máy tính cơ bản Triển khai các phần mềm mã nguồn mở, phần mềm hướng dịch vụ Software as a
                  Service,
                  điện
                  toán đám mây, marketting trên Internet Quản trị dự án công nghệ thông tin Quản trị cơ sở dữ liệu Kỹ
                  năng
                  mềm
                  và ngoại ngữ: kỹ năng giao tiếp, thuyết trình, kỹ năng làm việc nhóm, kỹ năng xử lý tình huống phát
                  sinh
                  trong quá trình thực hiện công việc, tiếng Anh giao tiếp.</p>
              </div>
              <div class="jumbotron carousel-item"
                   style="background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
                     url('http://media.doanhnghiepvn.vn/Images/maithanhhiep/2015/06/16/FPT_Polytechnic.jpg');
                      background-size: 100% 100%; background-repeat: no-repeat;">
                <h1 class="display-4">Lập trình máy tính - Thiết bị di động</h1>
                <hr class="my-4">
                <p> &nbsp;&nbsp; Thiết kế hình ảnh với Photoshop Lập trình Java cơ bản Lập trình Android cơ bản đến nâng
                  cao Lập
                  trình
                  ứng
                  dụng native trên nền tảng Android, xây dựng các ứng dụng trên smart phone, tablet sử dụng Android
                  Lập
                  trình
                  ứng dụng cross platform, xây dựng các ứng dụng đa nền tảng trên mobile, phát triển một lần nhưng có
                  thể
                  đồng
                  thời triển khai trên các nền tảng khác nhau như iOS, Android, Window Phone,…
                  Lập trình Game Unity đa
                  nền
                  tảng, phát triển game một lần nhưng có thể đồng thời xuất ra các game trên các nền tảng khác nhau
                  như
                  iOS,
                  Android, Window Phone,… Quản trị dự án CNTT (Agile) Marketing trên mobile Kỹ năng mềm và ngoại ngữ:
                  kỹ
                  năng
                  giao tiếp, thuyết trình, kỹ năng làm việc nhóm, kỹ năng xử lý tình huống phát sinh trong quá trình
                  thực
                  hiện
                  công việc, tiếng Anh giao tiếp.. </p>
              </div>

              <div class="jumbotron carousel-item"
                   style="background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
                     url('http://maacviet-arena.vn/wp-content/uploads/2018/11/hoc-thiet-ke-hoa-o-dau-dia-chi-dao-tao-nganh-thiet-ke-hoa-tot-nhat.jpg');
                      background-size: 100% 100%; background-repeat: no-repeat;">
                <h1 class="display-4">Thiết kế đồ họa - Mỹ thuật đa phương tiện</h1>
                <hr class="my-4">
                <p> &nbsp;&nbsp; Đồ họa cơ bản: Thiết kế hình ảnh với Photoshop, minh họa với Illustrator Chế bản điện
                  tử với
                  InDesign,
                  Autocad 2D, 3D, in ấn Các kỹ năng tư duy mỹ thuật cơ bản (Luật xa gần, bố cục, màu sắc, nghệ thuật
                  chữ,
                  thiết kế bao bì,…) Thiết kế đồ họa động và hoạt hình (Flash, 3Ds Studio Max) Các kỹ năng nghề: Kỹ
                  thuật
                  in
                  ấn, nhiếp ảnh, làm phim. Xử lý hậu kỳ với âm thanh, video với các phần mềm mới nhất như Adobe
                  Premier,
                  After
                  Effect…. Kỹ năng mềm và ngoại ngữ: kỹ năng giao tiếp, thuyết trình, kỹ năng làm việc nhóm, kỹ năng
                  xử lý
                  tình huống phát sinh trong quá trình thực hiện công việc, tiếng Anh giao tiếp. Kinh tế - Kinh
                  doanh:</p>
              </div>
              <div class="jumbotron carousel-item"
                   style="background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
                     url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfvEgZ1TVPjQpfMav6novcyWmbbCY2p54iG3eFvfjUVVJd5oH48g');
                      background-size: 100% 100%; background-repeat: no-repeat;">
                <h1 class="display-4">Thương mại điện tử - Digital & Online Marketing</h1>
                <hr class="my-4">
                <p> &nbsp;&nbsp; Marketing, nghiên cứu thị trường, kinh tế thương mại dịch vụ, quảng cáo, vẽ và xử lý
                  ảnh, xây
                  dựng,
                  quản trị
                  website, Search Engine Marketing, Web and Mobile Marketing, SEO, Social Marketing… cùng các kỹ năng
                  mềm
                  và
                  ngoại ngữ.</p>
              </div>
              <div class="jumbotron carousel-item"
                   style="background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
                     url('https://i.chungta.vn/2016/07/29/anh-bai-3966-1469763498.jpg');
                      background-size: 100% 100%; background-repeat: no-repeat;">
                <h1 class="display-4">Quan hê công chúng - PR & Tổ chức sự kiện</h1>
                <hr class="my-4">
                <p> &nbsp;&nbsp; Marketing và Truyền thông; Nghiệp vụ và thực hành: Tổ chức sự kiện, xây dựng và quản
                  trị các chiến
                  dịch
                  truyền thông, truyền thông nội bộ, truyền thông đa phương tiện, truyền thông tích hợp, kỹ năng viết
                  báo,
                  quản trị nguồn lực và quản trị khủng hoảng trong truyền thông; Kỹ năng mềm và ngoại ngữ: kỹ năng
                  giao
                  tiếp,
                  ứng xử với khách hàng, kỹ năng làm việc nhóm, kỹ năng xử lý tình huống phát sinh trong quá trình
                  thực
                  hiện
                  công việc, kỹ năng tổ chức sự kiện, ứng dụng công nghệ thông tin vào lập kế hoạch và quản trị các
                  chiến
                  dịch
                  PR, tiếng Anh giao tiếp và tiếng Anh chuyên ngành chuyên sâu về quan hệ công chúng</p>
              </div>

              <div class="jumbotron carousel-item"
                   style="background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
                     url('http://aothundongphucgiare.com/wp-content/uploads/2017/12/xIMG_4090.jpg.pagespeed.ic_.JQ5-mTKj_U.jpg');
                      background-size: 100% 100%; background-repeat: no-repeat;">
                <h1 class="display-4">Quản trị doanh nghiệp - Marketing & Sales</h1>
                <hr class="my-4">
                <p> &nbsp;&nbsp; Lập và triển khai việc nghiên cứu marketing của doanh nghiệp Thực hiện chiến dịch quảng
                  cáo sản
                  phẩm
                  cho
                  doanh nghiệp trên các phương tiện thông tin đại chúng Tổ chức sự kiện và thiết lập mối quan hệ với
                  công
                  chúng Kỹ năng chào hàng, thuyết trình về sản phẩm cho khách hàng doanh nghiệp và khách hàng tiêu
                  dùng Kỹ
                  năng mềm và ngoại ngữ: kỹ năng giao tiếp, thuyết trình, kỹ năng làm việc nhóm, kỹ năng xử lý tình
                  huống
                  phát
                  sinh trong quá trình thực hiện công việc, tiếng Anh giao tiếp. Du lịch - Lữ hành - Nhà hàng - Khách
                  sạn
                  (Chỉ
                  tuyển sinh tại TP.HCM và Đà Nẵng):</p>
              </div>
              <div class="jumbotron carousel-item"
                   style="background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
                     url('https://anh.24h.com.vn/upload/3-2015/images/2015-07-23/1437616969-hoc-nganh-khach-san-du-lich--3-.jpg');
                      background-size: 100% 100%; background-repeat: no-repeat;">
                <h1 class="display-4">Hướng dẫn du lịch</h1>
                <hr class="my-4">
                <p> &nbsp;&nbsp; Kiến thức tổng hợp về địa lý, lịch sử văn hóa, đặc điểm, giá trị của các tài nguyên du
                  lịch Nghiệp
                  vụ
                  và
                  thực hành: hướng dẫn du lịch, thiết kế và điều hành Tour, nghiệp vụ thanh toán, kế toán, và thực
                  hành
                  hướng
                  dẫn du lịch Kỹ năng mềm và ngoại ngữ Dự án: Sinh viên có thời gian thực tập tại các công ty du lịch,
                  thực
                  hiện dự án kinh doanh và dự án tốt nghiệp theo nhóm.</p>
              </div>
              <div class="jumbotron carousel-item"
                   style="background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
                     url('https://caodang.fpt.edu.vn/wp-content/uploads/le-khanh-thanh-fpt-polytechnic-cs-2.jpg');
                      background-size: 100% 100%; background-repeat: no-repeat;">
                <h1 class="display-4">Quản trị nhà hàng</h1>
                <hr class="my-4">
                <p> &nbsp;&nbsp; Kiến thức tổng hợp về văn hóa các nước, ẩm thực, dịch vụ ăn uống và vui chơi giải trí
                  Nghiệp vụ và
                  thực
                  hành: nghiệp vụ lễ tân, nghiệp vụ nhà hàng, nghiệp vụ bar, nghiệp vụ thanh toán, kế toán, quản trị
                  nhà
                  hàng
                  và quản lý cơ vật chất trong nhà hàng Kỹ năng mềm và ngoại ngữ: kỹ năng giao tiếp, ứng xử với khách
                  hàng, kỹ
                  năng làm việc nhóm, kỹ năng xử lý tình huống phát sinh trong quá trình thực hiện công việc, kỹ năng
                  tổ
                  chức
                  sự kiện, ứng dụng công nghệ vào quản trị du lịch, tiếng Anh giao tiếp và tiếng Anh chuyên ngành
                  chuyên
                  sâu
                  về du lịch Dự án: Sinh viên có thời gian thực tập tại các nhà hàng, khách sạn, khu nghỉ dưỡng, hệ
                  thống
                  các
                  cửa hàng cung cấp dịch vụ ăn uống, thực hiện dự án kinh doanh và dự án tốt nghiệp theo nhóm.</p>
              </div>
              <div class="jumbotron carousel-item"
                   style="background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
                     url('https://caodang.fpt.edu.vn/wp-content/uploads/2015/07/poly-du-lich.jpg');
                      background-size: 100% 100%; background-repeat: no-repeat;">
                <h1 class="display-4">Quản trị khách sạn</h1>
                <hr class="my-4">
                <p> &nbsp;&nbsp; Kiến thức tổng hợp về văn hóa các nước, ẩm thực, dịch vụ lưu trú đa dạng, dịch vụ ăn
                  uốngvà vui
                  chơi
                  giải
                  trí. Nghiệp vụ và thực hành: nghiệp vụ lễ tân, nhà hàng, buồng phòng, nghiệp vụ thanh toán, kế toán,
                  giám
                  sát khách sạn và quản lý cơ vật chất trong khách sạn Kỹ năng mềm và ngoại ngữ: kỹ năng giao tiếp,
                  ứng xử
                  với
                  khách du lịch, kỹ năng làm việc nhóm, kỹ năng xử lý tình huống phát sinh trong quá trình thực hiện
                  công
                  việc, kỹ năng tổ chức sự kiện, ứng dụng công nghệ vào quản trị du lịch, tiếng Anh giao tiếp và tiếng
                  Anh
                  chuyên ngành chuyên sâu về nhà hàng-khách sạn. Dự án: Sinh viên có thời gian thực tập tại các Khách
                  sạn,
                  Khu
                  nghỉ dưỡng, thực hiện dự án kinh doanh và dự án tốt nghiệp theo nhóm.</p>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <!--<ol class="carousel-indicators">-->
              <!--<li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>-->
              <!--<li data-target="#carouselExampleControls" data-slide-to="1"></li>-->
              <!--<li data-target="#carouselExampleControls" data-slide-to="2"></li>-->
              <!--<li data-target="#carouselExampleControls" data-slide-to="3"></li>-->
              <!--<li data-target="#carouselExampleControls" data-slide-to="4"></li>-->
              <!--<li data-target="#carouselExampleControls" data-slide-to="5"></li>-->
              <!--<li data-target="#carouselExampleControls" data-slide-to="6"></li>-->
              <!--<li data-target="#carouselExampleControls" data-slide-to="7"></li>-->
              <!--<li data-target="#carouselExampleControls" data-slide-to="8"></li>-->
              <!--<li data-target="#carouselExampleControls" data-slide-to="9"></li>-->
            <!--</ol>-->
          </div>
          <hr>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>
