
<app-header></app-header>
<app-nav></app-nav>
<app-pop-general></app-pop-general>
<div class="row">
  <div class="col-md-9"  >
    <app-introduce-article></app-introduce-article>
  </div>
  <div class="col-md-3">
    <app-aside></app-aside>
  </div>
</div>
<app-footer></app-footer>
