
<footer>
  <div class="col-md-12" style="margin: 0 0 0 0; padding: 0 0 0 0;">
    <div class="card">
      <div class="card-body text-center">
        <p> FPT Polytechnic &copy; 2017. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
